.menuTable{
    width:100%;
}

.card-body{
    text-align:center;
}

.card-img-top{
    width:50%;
    margin:auto;
}

#introText{
    margin-top:1.5em;
}

.sectionTitle{
    text-align:center;
    background:#bfd7ef;
    border-radius:.2em;
    margin:1em 0em 1em 0em;
}

.menuBtn{
    background-color:#bfd7ef;
    color:black;
    border-color:#bfd7ef;
}

.menuBtn:hover{
    background-color:#3380cc;
    color:white;
    border-color:#3380cc;
}

.typeCol{
    width:60%;
}

.marketPriceCol{
    width:40%;
}

.typeColHeader{
    width:60%;
}

.marketPriceColHeader{
    width:40%;
}

